/* App.css */

:root {
    --hero-bg: linear-gradient(to right, #1D2E28, #18392B, #14452F, #0F5132, #0A5C36, #0F5132, #14452F, #18392B, #1D2E28);
    --hero-text: #ffffff;
    --color-button-bg: rgb(20, 39, 27);
    --color-button-text: #fcfcfc;
    --color-button-hover: #0c190d;
    --color-bg: #ffffff;
}

[data-theme='dark'] {
    --hero-bg: linear-gradient(to right, #003153, #00416a, #003366, #00416a, #003153);
    --hero-text: #ffffff;
    --color-button-bg: #011f34;
    --color-button-text: #ffffff;
    --color-button-hover: #111a2c;
    --color-bg: #ffffff;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    overflow-x: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
}

* {
    box-sizing: border-box;
}